{% load staticfiles %}
<html lang="ru">
  <head>
    <title>News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{%static 'css/bootstrap3-4-0.min.css' %}">
    <script src="{%static 'jquery/jquery.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Hybrid</a>
            </div>
            {% if user.username == 'evilpug' %}
            <form class="navbar-form navbar-left" action="{% url 'news:update_news' %}" method="post">
              <div class="input-group">
                {% csrf_token %}
                <input type="text" name="n_pages" class="form-control" placeholder="Число страниц">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i>Go</i>
                  </button>
                </div>
              </div>
            </form>
            {% endif %}

            <ul class="nav navbar-nav">
              <li><a href="{% url 'news:recommendations' %}">Рекомендации</a></li>
              <li><a href="{% url 'news:favorite' %}">Избранное</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                {% if user.is_authenticated %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <a class="dropdown-toggle" href="{% url 'accounts:login' %}">Login</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <h5 class = "counter">Непрочитанных новостей: {{count}}</h5>
            <div class="panel panel-default filterable">
                <script type="text/javascript" src ="{% static 'js/news.js' %}"></script>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="id-form-control" placeholder="#"></th>
                            <th><input type="text" class="form-control" placeholder="Title"></th>
                            <th><input type="text" class="form-control" placeholder="Author"></th>
                            <th><p>Comments</th>
                            <th><p>Points</th>
                            {% if user.is_authenticated %}
                            <th><p>Favorite</th>
                            {% endif %}
                            <th><p>Your Score</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for row in rows %}
                        <tr>
                            <td >{{row.id}}</td>
                            <td><a href = "{{row.url}}">{{row.title}}</a></td>
                            <td>{{row.author}}</td>
                            <td>{{row.comments}}</td>
                            <td>{{row.points}}</td>
                            {% if user.is_authenticated %}
                            <td><form action="{% url 'news:add_favorite' %}" method="post">
                                  {% csrf_token %}
                                  {% if row.id in fav %}
                                  yayy
                                  <div class = "fav-checked">
                                    <input type="submit" id="fav{{row.id}}" name="favorite" value="{{row.id}}" />
                                    <label for="fav{{row.id}}" title="Favorite">Favorite</label>
                                  </div>
                                  {% else %}
                                  <div class = "fav">
                                    <input type="submit" id="fav{{row.id}}" name="favorite" value="{{row.id}}" />
                                    <label for="fav{{row.id}}" title="Favorite">Favorite</label>
                                  </div>
                                  {% endif %}
                                </form></td>
                            {% endif %}
                            <td><form action="{% url 'news:add_label' %}" method="post">
                                  {% csrf_token %}
                                  <div class = "rate">
                                    <input type="submit" id="star2{{row.id}}" name="label" value="{{row.id}}:2" />
                                    <label for="star2{{row.id}}" title="Интересно">2 stars</label>
                                    <input type="submit" id="star1{{row.id}}" name="label" value="{{row.id}}:1" />
                                    <label for="star1{{row.id}}" title="Возможно интересно">1 stars</label>
                                    <input type="submit" id="star0{{row.id}}" name="label" value="{{row.id}}:0" />
                                    <label for="star0{{row.id}}" title="Не интеренсно">0 star</label>
                                  </div>
                                </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>
