{% load staticfiles %}
<html lang="ru">
  <head>
    <title>Recommended News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{%static 'css/bootstrap3-4-0.min.css' %}">
    <script src="{%static 'jquery/jquery.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Hybrid</a>
            </div>
            {%if user.username == 'evilpug'%}
            <form class="navbar-form navbar-left" action="update_news/" method="post">
              <div class="input-group">
                {% csrf_token %}
                <input type="text" name="n_pages" class="form-control" placeholder="Число страниц">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i>Go</i>
                  </button>
                </div>
              </div>
            </form>
            {%endif%}

            <ul class="nav navbar-nav">
              <li><a href="{% url 'news:recommendations' %}">Рекомендации</a></li>
              <li><a href="{% url 'news:favorite' %}">Избранное</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                {% if user.is_authenticated %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                </ul>
                {% else %}
                <a class="dropdown-toggle" data-toggle="dropdown" href="/accounts/login/">Login<span class="caret"></span></a>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
            <div class="panel panel-default filterable">
                <script type="text/javascript" src ="{% static 'js/news.js' %}"></script>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="id-form-control" placeholder="#"></th>
                            <th><input type="text" class="form-control" placeholder="Title"></th>
                            <th><input type="text" class="form-control" placeholder="Author"></th>
                            <th><p>Comments</th>
                            <th><p>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td style="background-color: #00FF00">Good {{ good.count }}</td>
                          <td style="background-color: #00FF00"></td>
                          <td style="background-color: #00FF00"></td>
                          <td style="background-color: #00FF00"></td>
                          <td style="background-color: #00FF00"></td>
                      </tr>
                      {% for row in good.news %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td><a href = "{{row.url}}">{{row.title}}</a></td>
                            <td>{{row.author}}</td>
                            <td>{{row.comments}}</td>
                            <td>{{row.points}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="background-color: #FFFF00">Maybe {{ maybe.count }}</td>
                            <td style="background-color: #FFFF00"></td>
                            <td style="background-color: #FFFF00"></td>
                            <td style="background-color: #FFFF00"></td>
                            <td style="background-color: #FFFF00"></td>
                        </tr>
                      {% for row in maybe.news %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td><a href = "{{row.url}}">{{row.title}}</a></td>
                            <td>{{row.author}}</td>
                            <td>{{row.comments}}</td>
                            <td>{{row.points}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="background-color: #FF0000">Never {{ never.count }}</td>
                            <td style="background-color: #FF0000"></td>
                            <td style="background-color: #FF0000"></td>
                            <td style="background-color: #FF0000"></td>
                            <td style="background-color: #FF0000"></td>
                        </tr>
                      {% for row in never.news %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td><a href = "{{row.url}}">{{row.title}}</a></td>
                            <td>{{row.author}}</td>
                            <td>{{row.comments}}</td>
                            <td>{{row.points}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>
