{% load staticfiles %}
<html lang="ru">
  <head>
    <title>News</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <link href="{% static 'css/news.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
  </head>

  <body>
      <div class="container">
        <h5>Загрузить больше новостей:</h5>
        <form action="update_news/" method="post">
            {% csrf_token %}
            <th><input type="text" name="n_pages" class="form-control" placeholder="Введите число страниц"></th>
            <th><input type="submit" class="btn btn-primary"></th>
        </form>

        <div class="row">
		        <a href = "recommendations/" center=True>Рекомендации</a>
            <div class="panel panel-primary filterable">
              Непрочитанных новостей:<h5 class = "counter">{{count}}</h5>
                <div class="panel-heading">
                    <h3 class="panel-title"><center>News</center></h3>
                </div>

                <script type="text/javascript" src ="{% static 'js/news.js' %}"></script>
                <table class="table">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="id-form-control" placeholder="#"></th>
                            <th><input type="text" class="form-control" placeholder="Title"></th>
                            <th><input type="text" class="form-control" placeholder="Author"></th>
                            <th><p>Comments</th>
                            <th><p>Points</th>
                            <th><p>Your Score</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for row in rows %}
                        <tr>
                            <td >{{row.id}}</td>
                            <td><a href = "{{row.url}}">{{row.title}}</a></td>
                            <td>{{row.author}}</td>
                            <td>{{row.comments}}</td>
                            <td>{{row.points}}</td>
                            <td><form action="add_label/" method="post">
                              {% csrf_token %}
                                <div class = "rate">
                                  <input type="submit" id="star2{{row.id}}" name="label" value="2 {{row.id}}" />
                                  <label for="star2{{row.id}}" title="Интересно">2 stars</label>
                                  <input type="submit" id="star1{{row.id}}" name="label" value="1 {{row.id}}" />
                                  <label for="star1{{row.id}}" title="Возможно интересно">1 stars</label>
                                  <input type="submit" id="star0{{row.id}}" name="label" value="0 {{row.id}}" />
                                  <label for="star0{{row.id}}" title="Не интеренсно">0 star</label>
                                </div>
                                </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </body>
</html>
